.container{
    padding: 0;
    margin: 1em 0;
    display: flex;
    justify-content: space-evenly;
}

.form__picture{
    border-radius: 5px;
    margin-bottom: 3em;
}

.form__right{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.form__right h2{
    margin-right: auto;
    margin-left: auto;
    color: #111111;
    font-size: 2.44em;
    margin-bottom: 1em;
}

.form__content{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

label{
    font-size: 9pt;
    color: #080808;
}

.form__input{
    margin-top: 0.6em;
    border: 1px solid #4361ee;
    border-radius: 6px;
    height: 2em;
    padding: 0 1em;
}

.form__btn_button{
    width:15em;
    margin-top: 1em;
    height: 2em;
    color: #fff;
    background-color: #111111;
    border: 0;
    padding: 0.3em 0;
    border-radius: 6px;
}